*.tmp.nlogo
.Rhistory
*.xlsx#
*.csv#
*.doc#
*.docx#
.DS_Store
*.icloud
*.graphml
*.world
*.swp
*.ipynb_checkpoints*
*__pycache__*
inputs/neukolln/.ipynb_checkpoints/opinion_analysis_T-checkpoint.ipynb
*.pyc
